
data
pydev/
.env
Notebooks/quant_trading_book/store
Notebooks/quant_trading_book
Notebooks/.ipynb_checkpoints
mysql.env
# data
store
archive
test
# data/.idea
# data/SQL
*.csv
*.h5
*.xlsx
*.pickle
*.png
*.parquette
*.txt
db
.vscode